In [34]:
#Load Essential Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.model_selection import train_test_split

In [35]:
#Loading test/Train set
train=pd.read_csv("train.csv")
test=pd.read_csv("test.csv")

In [36]:
#Checking the size of train data
train.shape

(614, 13)

In [37]:
#Checking the size of train data
test.shape

(367, 12)

In [38]:
#Looking at the dataset
train.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [39]:
# Data preprocessing 

data=pd.concat([train,test])

In [40]:
#Dropping the unwanted column:
data.drop(columns="Loan_ID",axis=1)

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...
362,Male,Yes,3+,Not Graduate,Yes,4009,1777.0,113.0,360.0,1.0,Urban,NaN
363,Male,Yes,0,Graduate,No,4158,709.0,115.0,360.0,1.0,Urban,NaN
364,Male,No,0,Graduate,No,3250,1993.0,126.0,360.0,NaN,Semiurban,NaN
365,Male,Yes,0,Graduate,No,5000,2393.0,158.0,360.0,1.0,Rural,NaN
366,Male,No,0,Graduate,Yes,9200,0.0,98.0,180.0,1.0,Rural,NaN

In [41]:
#Checking for missing values
data.isnull().sum()

Loan_ID                0
Gender                24
Married                3
Dependents            25
Education              0
Self_Employed         55
ApplicantIncome        0
CoapplicantIncome      0
LoanAmount            27
Loan_Amount_Term      20
Credit_History        79
Property_Area          0
Loan_Status          367
dtype: int64

In [42]:
#Imputing the missing values
for i in [data]:
 i["Gender"]=i["Gender"].fillna(data.Gender.dropna().mode()[0])
 i["Married"]=i["Married"].fillna(data.Married.dropna().mode()[0])
 i["Dependents"]=i["Dependents"].fillna(data.Dependents.dropna().mode()[0])
 i["Self_Employed"]=i["Self_Employed"].fillna(data.Self_Employed.dropna().mode()[0])
 i["Credit_History"]=i["Credit_History"].fillna(data.Credit_History.dropna().mode()[0])

In [43]:
#Checking if there are any missing values left
data.isnull().sum()

Loan_ID                0
Gender                 0
Married                0
Dependents             0
Education              0
Self_Employed          0
ApplicantIncome        0
CoapplicantIncome      0
LoanAmount            27
Loan_Amount_Term      20
Credit_History         0
Property_Area          0
Loan_Status          367
dtype: int64

In [44]:

#Still we can see that the LoanAmount and Loan_Amount_Term are left to be filled we will be using Iterative imputer to fill the missing values for the left values.

from sklearn. ensemble import RandomForestRegressor

data1 = data. loc[: , ['LoanAmount', 'Loan_Amount_Term' ]]
# Run imputer with a Random Forest estimator
imp = IterativeImputer (RandomForestRegressor ( ), max_iter=10, random_state=0)
data1 = pd . DataFrame(imp. fit_transform(data1), columns=data1. columns)

c:\Users\Anant Tyagi\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\impute\_iterative.py:713: ConvergenceWarning: [IterativeImputer] Early stopping criterion not reached.
  warnings.warn(

In [45]:
#Mapping thr cateogorical data as integers
data['Gender']=data['Gender'].map({'Male': 0,'Female':1})

In [46]:
data['Married']=data['Married'].map({'No':0 , 'Yes':1})

In [47]:
data['Education']=data['Education'].map({"Not Graduate":0 , "Graduate":1})

In [48]:
data['Self_Employed']=data['Self_Employed'].map({'No':0, 'Yes':1})

In [50]:
data['Credit_History']=data['Credit_History'].astype(int)